body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
}

header {
    background-color: #0d6efd;
    color: white;
    padding: 40px;
}

main {
    background-color: white;
    width: 70%;
    margin: 40px auto;
    padding: 30px;
    border-radius: 10px;
}

img {
    width: 150px;
    margin-bottom: 20px;
}

a {
    display: inline-block;
    margin-top: 20px;
    background-color: #198754;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}

a:hover {
    background-color: #146c43;
}